<span contenteditable="true" class="pitch-component pitch-who" data-name="who">{{pitch.who}}</span>
<span contenteditable="true" class="pitch-component pitch-what" data-name="what">{{pitch.what}}</span>
<span contenteditable="true" class="pitch-component pitch-why" data-name="why">{{pitch.why}}</span>
<span contenteditable="true" class="pitch-component pitch-goal" data-name="goal">{{pitch.goal}}</span>