    <div class="word-count-stat stat-wrapper">
      <span class="stat-label">Word Count:</span>
      <span class="stat work-count">{{analysis.wordcount}} Words</span>
    </div><!--

 --><div class="est-seconds-stat stat-wrapper">
      <span class="stat-label">Estimated Seconds:</span>
      <span class="stat est-seconds">{{analysis.estseconds}} Sec.</span>
    </div>