<h1>The Art of Pitchcraft</h1>

<p>Whether you are trying to raise capital, promote your company, or promote yourself, it's essential to have an elevator pitch. You need to communicate your main message quickly, clearly, and distinctly to someone who doesn't even know you. A good pitch takes planning and practice to deliver it quickly, on the spot, and under pressure.</p>

<p>You have <em>one minute</em> to say it all.</p>

<a class="pitch-start-btn" href="#who">Start crafting your pitch</a>
