<a href="#review"><h1 class="name">review your pitch</h1></a>

<div class="review content">
  <h2 class="label">Your Created Pitch</h2>

  <p class="pitch-review">
    {{> editable-review-tpl }}
  </p>

  <p class="pitch-review-help">Be passionate. Listeners may be impressed by your business logic but your excitement will create an even stronger impact. ... Be careful not to turn it into a memorized monologue. You shouldn't sound like you are reciting a word-for-word speech. Otherwise your audience won't feel special. You are having a conversation (albeit a targeted one), not delivering a sermon.</p>

  <div class="pitch-email">
    {{> pitch-mailto-tpl }}
  </div>

  <div class="pitch-analysis">
    {{> pitch-analysis-tpl }}
  </div>
</div>
