@import "compass/css3/transition";

$who-color:      #ECB24F;
$what-color:     #C7380E;
$why-color:      #888457;
$goal-color:     #536F72;
$review-color:   #48211C;
$component-gray: #EFEFE7;

$ease-way-in:     cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-way-out:    cubic-bezier(0.23, 1, 0.32, 1);
$ease-way-in-out: cubic-bezier(0.86, 0, 0.07, 1);


html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background-color: gray;
}

section {
	padding: 0;
	overflow: hidden;
}

/*
 * Intro Section
 * ====================================
 */
.intro-section,
.pitch-container {
	position: absolute;
	left: 1rem; top: 1rem; right: 1rem; bottom: 1rem;
}

.intro-section {
	z-index: 100;
	padding: 1rem;
	background-color: white;
	border: 1px solid black;
}

.animated.offscreen {
	@include transition(top 0.15s linear,
		                bottom 0.15s linear);
}
.offscreen {
	top: -100%;
	bottom: 100%;
}

.animated.onscreen {
	@include transition(top 0.5s $ease-way-out,
		                bottom 0.5s $ease-way-out);
}
.onscreen {
	top: 1em;
	bottom: 1em;
}


/*
 * Pitch Components
 * ====================================
 */
.pitch-container {
	/*overflow: hidden;*/
	/*box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);*/

	section {
		background-color: $component-gray;
		box-sizing: border-box;

		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	}

	section > a {
		text-decoration: none;
	}

	.name {
		font-size: 0.8rem;
		background-color: black;
		color: white;
		padding: 0.7rem 1rem 0rem;
		height: 3rem;
		line-height: 1.6rem;
		text-transform: uppercase;
		margin: 0 0 1rem 0;
		box-sizing: border-box;
		/*border-bottom: 1px solid $component-gray;*/
		border-top: 1px solid rgba(0, 0, 0, 0.25);
		text-align: center
	}

	.content {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 0 1rem;
		position: relative;
	}

	.label {
		font-size: 0.8rem;
	}

	.component-text-wrapper,
	.help {
		position: absolute;
		left: 1rem;
		right: 1rem;
		bottom: 5rem;
		top: 2rem;

		margin-left: 0;
		overflow: hidden;
	}
	.help.collapsed {
		left: 100%;

		margin-left: -6em;
		color: rgba(255,255,255,0);
	}
	.help.animated {
		@include transition(left 0.5s $ease-way-out,
			                right 0.5s $ease-way-out,
			                bottom 0.5s $ease-way-out,
			                top 0.5s $ease-way-out,
			                margin-left 0.5s $ease-way-out,
			                border-radius 0.5s $ease-way-out);
	}

	.help-text {
		opacity: 1;
	}
	.collapsed .help-text {
		opacity: 0;
	}
	.animated.expanded .help-text {
		@include transition(opacity 0.3s $ease-way-in 0.4s);
	}

	.help:hover {
		cursor: pointer;
	}

	.help {
		margin: 1rem;
		color: white;
		padding: 1rem;
		/*border: 1px solid rgba(0,0,0,0.25);*/
		/*box-shadow: 0 0 3px rgba(0,0,0,0.5);*/
	}

	.component-text {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 1rem 6rem 1rem 1rem;
	}

	.who-section .label { color: $who-color; }
	.what-section .label { color: $what-color; }
	.why-section .label { color: $why-color; }
	.goal-section .label { color: $goal-color; }
	.review-section .label { color: $review-color; }

	.who-section .help { background-color: $who-color; }
	.what-section .help { background-color: $what-color; }
	.why-section .help { background-color: $why-color; }
	.goal-section .help { background-color: $goal-color; }
	.review-section .help { background-color: $review-color; }

	section:last-child .name {
		border-bottom: none;
	}

	section.animated.expanded {
		@include transition(left 0.5s $ease-way-in-out,
			                right 0.5s $ease-way-in-out,
			                top 0.5s $ease-way-in-out,
			                bottom 0.5s $ease-way-in-out,
			                margin-left 0.5s $ease-way-in-out,
			                margin-right 0.5s $ease-way-in-out,
			                margin-top 0.5s $ease-way-in-out,
			                border-radius 0.5s $ease-way-in-out);
	}

	section.animated.collapsed {
		@include transition(left 0.5s $ease-way-out,
			                right 0.5s $ease-way-out,
			                top 0.5s $ease-way-out,
			                bottom 0.5s $ease-way-out,
			                margin-left 0.5s $ease-way-out,
			                margin-right 0.5s $ease-way-out,
			                margin-top 0.5s $ease-way-out,
			                border-radius 0.5s $ease-way-out);
	}

	section.expanded {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 5rem;

		margin-left: 0;
		margin-right: 0;
		margin-top: 0;

		border-radius: 0;
	}

	section.collapsed {
		position: absolute;
		top: 100%;
		bottom: 0;

		margin-top: -4rem;

		border-radius: 2rem;
	}

	.who-section.collapsed    { margin-left: 0;     left: 0;    margin-right: -4rem; right: 100%; }
	.what-section.collapsed   { margin-left: -1rem; left: 25%;  margin-right: -3rem; right: 75%; }
	.why-section.collapsed    { margin-left: -2rem; left: 50%;  margin-right: -2rem; right: 50%; }
	.goal-section.collapsed   { margin-left: -3rem; left: 75%;  margin-right: -1rem; right: 25%; }
	.review-section.collapsed { margin-left: -4rem; left: 100%; margin-right: -0rem; right: 0%; }

	section.animated.expanded .name,
	section.animated.collapsed .name {
		@include transition(height 0.25s $ease-way-out,
			                padding-top 0.5s $ease-way-out,
			                padding-left 0.5s $ease-way-out,
			                padding-right 0.5s $ease-way-out,
			                line-height 0.5s $ease-way-out);
	}

	section.collapsed .name {
		height: 100%;
		padding: 0;
		line-height: 4rem;
	}

	.who-section .name { background-color: $who-color; }
	.what-section .name { background-color: $what-color; }
	.why-section .name { background-color: $why-color; }
	.goal-section .name { background-color: $goal-color; }
	.review-section .name { background-color: $review-color; }

	.pitch-who { color: $who-color; }
	.pitch-what { color: $what-color; }
	.pitch-why { color: $why-color; }
	.pitch-goal { color: $goal-color; }
	.pitch-review { color: $review-color; }

	.pitch-review {
		position: absolute;
		left: 1rem;
		right: 1rem;
		bottom: 10rem;
		top: 2rem;

		box-sizing: border-box;
		padding: 1rem;
		border: 1px solid rgba(0,0,0,0.333);
		background-color: white;

		margin: 0;
		overflow: auto;
	}

	.pitch-review-help {
		position: absolute;
		left: 1rem;
		right: 1rem;
		bottom: 5rem;
		top: 100%;
		margin-top: -9rem;

		font-size: 0.8rem;
	}

	section.collapsed .pitch-review-help {
		display: none;
	}
}

@media (max-height: 20rem) { /* ...keyboard shown on mobile... */
	.pitch-container {
		section.collapsed {
			margin-top: -2rem;
			border-radius: 1rem;
		}

		section.collapsed .name {
			line-height: 2rem;
		}

		section.expanded {
			bottom: 3rem;
		}

		.pitch-review {
			bottom: 5rem;
		}

		.pitch-review-help {
			display: none;
		}
	}
}

@media (max-height: 17rem) { /* ...keyboard shown on mobile... */
	.pitch-container {
		section.collapsed {
			display: none;
		}

		section.expanded {
			bottom: 0;
		}

		.help.animated,
		section.animated.expanded,
		section.animated.collapsed,
		section.animated.expanded .name,
		section.animated.collapsed .name {
			@include transition(left 0.5s $ease-way-out,
				                right 0.5s $ease-way-out,
				                margin-right 0.5s $ease-way-out,
				                padding-left 0.5s $ease-way-out,
				                padding-right 0.5s $ease-way-out);
		}
	}
}

@media (max-height: 12rem) {
	.pitch-container {
		section.animated.expanded .name,
		section.animated.collapsed .name {
			@include transition();
		}

		section.expanded .name {
			display: none;
		}

		.component-text-wrapper, .help {
			bottom: 1rem;
		}
	}
}

@media (max-height: 6rem) {
	.pitch-container {
		left: 0; top: 0; right: 0; bottom: 0;

		section.expanded .label {
			display: none;
		}

		.component-text-wrapper, .help {
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
		}
	}
}