@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000315}}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000322}}
body {
  background-color: gray;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000326}}
section {
  padding: 0;
  overflow: hidden;
}

/*
 * Letter icon code adapted from
 * http://codepen.io/pouretrebelle/pen/gIBAv
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000342}}
.letter {
  display: inline-block;
  margin: 0 auto;
  background-color: #48211C;
  position: relative;
  height: 1.4rem;
  width: 2rem;
  top: 0.35rem;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000352}}
.letter:before, .letter:after {
  content: '';
  position: absolute;
  left: 50%;
  height: 1.2rem;
  width: 1.2rem;
  transform: rotate(45deg) skew(-5deg, -5deg);
  margin-left: -1rem;
  height: 2rem;
  width: 2rem;
  background-color: #48211C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000364}}
.letter:before {
  bottom: -100%;
  box-shadow: -1px -1px 0 0 #EFEFE7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000368}}
.letter:after {
  top: -95%;
  box-shadow: 1px 1px 0 0 #EFEFE7;
}

/*
 * Intro Section
 * ====================================
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000378}}
.intro-section,
.pitch-container {
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000384}}
.intro-section {
  z-index: 100;
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000391}}
.animated.offscreen {
  -moz-transition: top 0.15s linear, bottom 0.15s linear;
  -o-transition: top 0.15s linear, bottom 0.15s linear;
  -webkit-transition: top 0.15s linear, bottom 0.15s linear;
  transition: top 0.15s linear, bottom 0.15s linear;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\0000395}}
.offscreen {
  top: -100%;
  bottom: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003100}}
.animated.onscreen {
  -moz-transition: top 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1);
  -o-transition: top 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1);
  -webkit-transition: top 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1);
  transition: top 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003105}}
.pitch-start-btn {
  display: inline-block;
  background-color: #532;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  text-align: center;
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003119}}
.pitch-start-btn:focus {
  position: relative;
  top: 1px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

/*
 * Timing for section animations
 * =============================
 */
/*
 * Pitch Components
 * ====================================
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003145}}
.pitch-container {
  /*overflow: hidden;*/
  /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003149}}
.pitch-container section {
  box-sizing: border-box;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003160}}
.pitch-container section > a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003164}}
.pitch-container .name {
  position: relative;
  font-size: 0.8rem;
  background-color: black;
  color: white;
  padding: 0.7rem 1rem 0rem;
  height: 3rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  z-index: 99;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003180}}
.pitch-container .content {
  background-color: #EFEFE7;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: -1rem 0 0 0;
  padding: 1rem 1rem 0 1rem;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003190}}
.pitch-container .label {
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003196}}
.pitch-container .component-text-wrapper {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 5rem;
  top: 3rem;
  margin-left: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003206}}
.pitch-container .help {
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 4.5rem;
  top: 2.5rem;
  margin-left: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003216}}
.pitch-container .help.collapsed {
  left: 100%;
  margin-left: -6em;
  color: rgba(255, 255, 255, 0);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003222}}
.pitch-container .help.animated {
  -moz-transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1), top 0.5s cubic-bezier(0, 1, 0, 1), margin-left 0.5s cubic-bezier(0, 1, 0, 1), border-radius 0.5s cubic-bezier(0, 1, 0, 1);
  -o-transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1), top 0.5s cubic-bezier(0, 1, 0, 1), margin-left 0.5s cubic-bezier(0, 1, 0, 1), border-radius 0.5s cubic-bezier(0, 1, 0, 1);
  -webkit-transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1), top 0.5s cubic-bezier(0, 1, 0, 1), margin-left 0.5s cubic-bezier(0, 1, 0, 1), border-radius 0.5s cubic-bezier(0, 1, 0, 1);
  transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), bottom 0.5s cubic-bezier(0, 1, 0, 1), top 0.5s cubic-bezier(0, 1, 0, 1), margin-left 0.5s cubic-bezier(0, 1, 0, 1), border-radius 0.5s cubic-bezier(0, 1, 0, 1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003231}}
.pitch-container .help-text {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003234}}
.pitch-container .collapsed .help-text {
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003237}}
.pitch-container .animated.expanded .help-text {
  -moz-transition: opacity 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.4s;
  -o-transition: opacity 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.4s;
  -webkit-transition: opacity 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -webkit-transition-delay: 0.4s;
  transition: opacity 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003241}}
.pitch-container .help-text-close {
  text-decoration: underline;
  position: absolute;
  font-size: 0.8rem;
  right: 0.5rem;
  bottom: 0.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003249}}
.pitch-container .help:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003253}}
.pitch-container .help {
  margin: 1rem;
  color: white;
  padding: 1rem;
  /*border: 1px solid rgba(0,0,0,0.25);*/
  /*box-shadow: 0 0 3px rgba(0,0,0,0.5);*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003261}}
.pitch-container .component-text {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem 6rem 1rem 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003268}}
.pitch-container .who-section .label {
  color: #ECB24F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003269}}
.pitch-container .what-section .label {
  color: #C7380E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003270}}
.pitch-container .why-section .label {
  color: #888457;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003271}}
.pitch-container .goal-section .label {
  color: #536F72;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003272}}
.pitch-container .review-section .label {
  color: #48211C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003274}}
.pitch-container .who-section .help {
  background-color: #ECB24F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003275}}
.pitch-container .what-section .help {
  background-color: #C7380E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003276}}
.pitch-container .why-section .help {
  background-color: #888457;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003277}}
.pitch-container .goal-section .help {
  background-color: #536F72;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003278}}
.pitch-container .review-section .help {
  background-color: #48211C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003280}}
.pitch-container section:last-child .name {
  border-bottom: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003284}}
.pitch-container section.animated.expanded {
  -moz-transition: left 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, right 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, top 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, bottom 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-left 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-right 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-top 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, border-radius 0.3s cubic-bezier(1, 0, 0, 1) 0.25s;
  -o-transition: left 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, right 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, top 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, bottom 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-left 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-right 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-top 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, border-radius 0.3s cubic-bezier(1, 0, 0, 1) 0.25s;
  -webkit-transition: left 0.3s cubic-bezier(1, 0, 0, 1), right 0.3s cubic-bezier(1, 0, 0, 1), top 0.3s cubic-bezier(1, 0, 0, 1), bottom 0.3s cubic-bezier(1, 0, 0, 1), margin-left 0.3s cubic-bezier(1, 0, 0, 1), margin-right 0.3s cubic-bezier(1, 0, 0, 1), margin-top 0.3s cubic-bezier(1, 0, 0, 1), border-radius 0.3s cubic-bezier(1, 0, 0, 1);
  -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s, 0.25s, 0.25s, 0.25s, 0.25s;
  transition: left 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, right 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, top 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, bottom 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-left 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-right 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, margin-top 0.3s cubic-bezier(1, 0, 0, 1) 0.25s, border-radius 0.3s cubic-bezier(1, 0, 0, 1) 0.25s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003295}}
.pitch-container section.animated.collapsed {
  -moz-transition: left 0.5s 0, right 0.5s 0, top 0.5s 0, bottom 0.5s 0, margin-left 0.5s 0, margin-right 0.5s 0, margin-top 0.5s 0, border-radius 0.5s 0;
  -o-transition: left 0.5s 0, right 0.5s 0, top 0.5s 0, bottom 0.5s 0, margin-left 0.5s 0, margin-right 0.5s 0, margin-top 0.5s 0, border-radius 0.5s 0;
  -webkit-transition: left 0.5s 0, right 0.5s 0, top 0.5s 0, bottom 0.5s 0, margin-left 0.5s 0, margin-right 0.5s 0, margin-top 0.5s 0, border-radius 0.5s 0;
  transition: left 0.5s 0, right 0.5s 0, top 0.5s 0, bottom 0.5s 0, margin-left 0.5s 0, margin-right 0.5s 0, margin-top 0.5s 0, border-radius 0.5s 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003306}}
.pitch-container section.expanded {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 5rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003320}}
.pitch-container section.collapsed {
  position: absolute;
  top: 100%;
  bottom: 0;
  margin-top: -4rem;
  border-radius: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003330}}
.pitch-container .who-section.collapsed {
  margin-left: 0;
  left: 0;
  margin-right: -4rem;
  right: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003331}}
.pitch-container .what-section.collapsed {
  margin-left: -1rem;
  left: 25%;
  margin-right: -3rem;
  right: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003332}}
.pitch-container .why-section.collapsed {
  margin-left: -2rem;
  left: 50%;
  margin-right: -2rem;
  right: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003333}}
.pitch-container .goal-section.collapsed {
  margin-left: -3rem;
  left: 75%;
  margin-right: -1rem;
  right: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003334}}
.pitch-container .review-section.collapsed {
  margin-left: -4rem;
  left: 100%;
  margin-right: -0rem;
  right: 0%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003336}}
.pitch-container section.animated.collapsed .name {
  -moz-transition: height 0.125s 0, padding-top 0.5s 0, padding-left 0.5s 0, padding-right 0.5s 0, line-height 0.5s 0;
  -o-transition: height 0.125s 0, padding-top 0.5s 0, padding-left 0.5s 0, padding-right 0.5s 0, line-height 0.5s 0;
  -webkit-transition: height 0.125s 0, padding-top 0.5s 0, padding-left 0.5s 0, padding-right 0.5s 0, line-height 0.5s 0;
  transition: height 0.125s 0, padding-top 0.5s 0, padding-left 0.5s 0, padding-right 0.5s 0, line-height 0.5s 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003344}}
.pitch-container section.animated.expanded .name {
  -moz-transition: height 0.25s cubic-bezier(0, 1, 0, 1) 0.65s, padding-top 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, padding-left 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, padding-right 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, line-height 0.3s cubic-bezier(0, 1, 0, 1) 0.25s;
  -o-transition: height 0.25s cubic-bezier(0, 1, 0, 1) 0.65s, padding-top 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, padding-left 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, padding-right 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, line-height 0.3s cubic-bezier(0, 1, 0, 1) 0.25s;
  -webkit-transition: height 0.25s cubic-bezier(0, 1, 0, 1), padding-top 0.3s cubic-bezier(0, 1, 0, 1), padding-left 0.3s cubic-bezier(0, 1, 0, 1), padding-right 0.3s cubic-bezier(0, 1, 0, 1), line-height 0.3s cubic-bezier(0, 1, 0, 1);
  -webkit-transition-delay: 0.65s, 0.25s, 0.25s, 0.25s, 0.25s;
  transition: height 0.25s cubic-bezier(0, 1, 0, 1) 0.65s, padding-top 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, padding-left 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, padding-right 0.3s cubic-bezier(0, 1, 0, 1) 0.25s, line-height 0.3s cubic-bezier(0, 1, 0, 1) 0.25s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003352}}
.pitch-container section.collapsed .name {
  height: 100%;
  padding: 0;
  line-height: 4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003358}}
.pitch-container .who-section .name {
  background-color: #ECB24F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003359}}
.pitch-container .what-section .name {
  background-color: #C7380E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003360}}
.pitch-container .why-section .name {
  background-color: #888457;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003361}}
.pitch-container .goal-section .name {
  background-color: #536F72;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003362}}
.pitch-container .review-section .name {
  background-color: #48211C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003364}}
.pitch-container .pitch-who {
  color: #ECB24F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003365}}
.pitch-container .pitch-what {
  color: #C7380E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003366}}
.pitch-container .pitch-why {
  color: #888457;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003367}}
.pitch-container .pitch-goal {
  color: #536F72;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003368}}
.pitch-container .pitch-review {
  color: #48211C;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003370}}
.pitch-container .pitch-review {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 10rem;
  top: 3rem;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.333);
  background-color: white;
  margin: 0;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003386}}
.pitch-container .pitch-review-help {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 4rem;
  top: 100%;
  margin-top: -8rem;
  font-size: 0.8rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003397}}
.pitch-container section.collapsed .pitch-review-help,
.pitch-container section.collapsed .pitch-analysis {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003402}}
.pitch-container .pitch-review-help {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003406}}
.pitch-container .pitch-email {
  display: block;
  position: absolute;
  top: 0.3rem;
  left: 100%;
  margin-left: -3rem;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003417}}
.pitch-container .pitch-email-link {
  text-decoration: none;
  color: #48211C;
  font-size: 0;
  line-height: 1.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003424}}
.pitch-container .letter {
  top: 0.35rem;
  margin-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003440}}
.pitch-container .pitch-analysis {
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 1em;
  right: 1rem;
  padding: 1em;
  margin-top: -9em;
  background-color: #AC171D;
  color: white;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003456}}
.pitch-container .pitch-analysis span {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003460}}
.pitch-container .stat-wrapper {
  display: inline-block;
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003465}}
.pitch-container .stat-wrapper:first-child {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003469}}
.pitch-container .stat-label {
  font-size: 0.8rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003473}}
.pitch-container .stat {
  font-size: 1.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003478}}
#google_translate_element {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  text-align: center;
}

@media (min-height: 25rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003493}}
  .pitch-container .pitch-analysis {
    bottom: 4rem;
  }
}
@media (min-width: 25rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003500}}
  .pitch-start-btn {
    width: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003505}}
  .pitch-container .pitch-review {
    right: 13rem;
    bottom: 9rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003510}}
  .pitch-container .pitch-review-help {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003514}}
  .pitch-container .pitch-email {
    left: 100%;
    margin-left: -12rem;
    right: 1em;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003521}}
  .pitch-container .pitch-email-link {
    font-size: 0.8rem;
    font-weight: bold;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003527}}
  .pitch-container .pitch-email-link:hover {
    text-decoration: underline;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003531}}
  .pitch-container .pitch-analysis {
    display: block;
    position: absolute;
    top: 3rem;
    bottom: 9rem;
    left: 100%;
    right: 1rem;
    padding: 1em;
    margin-left: -12rem;
    margin-top: 0;
    background-color: #AC171D;
    color: white;
    font-weight: bold;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003548}}
  .pitch-container .pitch-analysis span {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003552}}
  .pitch-container .stat-wrapper {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003558}}
  .pitch-container .stat-wrapper:first-child {
    margin-top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003562}}
  .pitch-container .stat-label {
    font-size: 0.8rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003566}}
  .pitch-container .stat {
    font-size: 1.5rem;
  }
}
@media (max-height: 25rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003574}}
  .pitch-container .pitch-review-help {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003578}}
  .pitch-container .pitch-review,
  .pitch-container .pitch-analysis {
    bottom: 4rem;
  }
}
@media (max-height: 20rem) {
  /* ...keyboard shown on mobile... */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003587}}
  .pitch-container section.collapsed {
    margin-top: -2rem;
    border-radius: 1rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003592}}
  .pitch-container section.collapsed .name {
    line-height: 2rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003596}}
  .pitch-container section.expanded {
    bottom: 3rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003600}}
  .pitch-container .pitch-review {
    bottom: 4rem;
  }
}
@media (max-height: 17rem) {
  /* ...keyboard shown on mobile... */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003608}}
  .pitch-container section.collapsed {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003612}}
  .pitch-container section.expanded {
    bottom: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003616}}
  .pitch-container .help.animated,
  .pitch-container section.animated.expanded,
  .pitch-container section.animated.collapsed,
  .pitch-container section.animated.expanded .name,
  .pitch-container section.animated.collapsed .name {
    -moz-transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), margin-right 0.5s cubic-bezier(0, 1, 0, 1), padding-left 0.5s cubic-bezier(0, 1, 0, 1), padding-right 0.5s cubic-bezier(0, 1, 0, 1);
    -o-transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), margin-right 0.5s cubic-bezier(0, 1, 0, 1), padding-left 0.5s cubic-bezier(0, 1, 0, 1), padding-right 0.5s cubic-bezier(0, 1, 0, 1);
    -webkit-transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), margin-right 0.5s cubic-bezier(0, 1, 0, 1), padding-left 0.5s cubic-bezier(0, 1, 0, 1), padding-right 0.5s cubic-bezier(0, 1, 0, 1);
    transition: left 0.5s cubic-bezier(0, 1, 0, 1), right 0.5s cubic-bezier(0, 1, 0, 1), margin-right 0.5s cubic-bezier(0, 1, 0, 1), padding-left 0.5s cubic-bezier(0, 1, 0, 1), padding-right 0.5s cubic-bezier(0, 1, 0, 1);
  }
}
@media (max-height: 12rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003632}}
  .pitch-container section.animated.expanded .name,
  .pitch-container section.animated.collapsed .name {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003637}}
  .pitch-container section.expanded .name {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003641}}
  .pitch-container .component-text-wrapper, .pitch-container .help {
    bottom: 0rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003645}}
  .pitch-container .pitch-review,
  .pitch-container .pitch-analysis {
    bottom: 0rem;
  }
}
@media (max-height: 6rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003653}}
  .pitch-container {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003656}}
  .pitch-container section.expanded .label {
    display: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003660}}
  .pitch-container .component-text-wrapper, .pitch-container .help {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003667}}
  .pitch-container .pitch-review,
  .pitch-container .pitch-analysis {
    bottom: 0;
    top: 0;
  }
}
@media (max-width: 25rem) and (max-height: 25rem) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mjumbewu\/Programming\/projects\/elevator-pitch-builder\/src\/styles\/main\.scss}line{font-family:\00003677}}
  .pitch-container .pitch-analysis {
    display: none;
  }
}
